<div class="container">
  <!-- <div class="row">
    <h2>Daily Tracker</h2>
    <app-dailytracker-input (submittedForm)='onSubmittedFormClicked($event)'></app-dailytracker-input>
  </div> -->
  <hr />

  <!-- <div class="row">
    <div class="col-md-12">
        <h1>Daily Traker</h1>
        <table class="table table-striped">
          <thead><th>Name</th><th>Task</th><th>Hours</th></thead>
      <app-dailytracker-display *ngFor="let chat of chatHistory" [feed]="chat">        
      </app-dailytracker-display>
    </table>
    </div>
  </div> -->
  <app-employee [empApp]='empApp'>

  </app-employee>
</div>

